.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #bcbcbc;
    transition: 0.5s;
}
nav ul li a:hover{
    color: white;
    margin-left: -5px;
    font-size: 2rem;
}


nav div {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav button {
    background-color: black;
    border: none;
    border-radius: 30px;
    padding: 20px 30px;
    color: white;
    cursor: pointer;
    font-size: 1.8rem;
    transition: 0.3s;
}

nav button:hover {
    background-color: #313131;
}

nav div a {
    color: white;
}
